.app {
  text-align: center;
  font-family: monospace;
  font-family: "Inter", sans-serif; 
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #D6E4FF;
  padding-bottom: 16px;
}
.header__title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding: 14px 10px;
  background-color: #ffc472;
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  z-index: 100;
}

.btn {
  margin: 12px 19px;
  padding: 9px 12px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  background-color: #091A7A;
  cursor: pointer;
  color: #ADC8FF;
  border: 2px solid #ADC8FF;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  transform: scale(1.09);
  transition: 0.3s ease-in-out;
}

.todo__item {
  width: 450px;
  height: 50px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5px;
  padding: 10px 10px;
  background-color: #ffcb83;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  animation-name: reveal;
  animation-duration: 0.4s;
  position: relative;
}

.todo__item > h3 {
  width: 400px;
  display: flex;
  margin: 10px 10px;
  text-align: left;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.todo__item__icons {
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: space-between;
}

.icon__comp {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffa844;
  color: #ffeab3;
  cursor: pointer;
  margin-left: 0.75rem;
  padding: 6px 6px;
  border-radius: 6px;
  width: 28px;
  height: 28px;
}


@keyframes reveal {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (max-width: 400px) {
  .container {
    max-width: 300px;
    display: flex;
    align-items: center;
    margin-left:5px;
    display: flex;
    flex-direction: column;
  }

  input {
   
    width: 240px;
    margin:0;
    height: 23px;

    
  }
  .btn {
    margin:0;
    margin-left:4px;
    margin-top:4px
 
  }

  .todo__item {
    width: 320px;
    height: 45px;
    
  }
  .todo__item > h3 {
    
    font-size:16px;
   
  }

  .icon__comp {
    width: 20px;
    height: 20px;
  }
  .icon__del {
    width: 20px;
    height: 20px;
  }

  .completed__label {
    
    margin-top: -3.4rem;
   
  }
  .completed__label >p {
    
    font-size:10px;
   
  }
}

.custom-scroll::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
}
 
.custom-scroll::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}
 
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #fbecd6;
  outline: 1px solid #fedcad;
  border-radius:3px;
}